# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Model files
*.h5
*.pt

# Dataset
data/

# OS files
.DS_Store
Thumbs.db
